// @font-face {
//   font-family: "GESS2";
//   src: url("./fonts/GESSTwoBold.otf");
//   font-weight: bold;
// }

// @font-face {
//   font-family: "GESS2";
//   src: url("./fonts/GESSTwoLight.otf");
//   font-weight: 300;
// }

// @font-face {
//   font-family: "GESS2";
//   src: url("./fonts/GESSTwoMedium.otf");
//   font-weight: 500;
// }

@font-face {
  font-family: "alriyadh";
  src: url("./fonts/TatweerAlRiyadh-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alriyadh";
  src: url("./fonts/TatweerAlRiyadh-Regular.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body .v-application {
  font-family: "alriyadh" !important;
  font-weight: 300;
}

.text-link {
  color: #c9c9c9 !important;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 300;
}

.main-title {
  color: #505050;
  font-weight: 100;
}

.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)
  > .v-input__control
  > .v-input__slot
  fieldset {
  color: #cecece !important;
}

.v-btn {
  letter-spacing: 0 !important;
}

.autocomplete-input {
  padding: 10px;
  border: 1px solid #cecece;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}
.gap-2 {
  gap: 8px;
}

.logs-container {
  border: 1px solid #cecece;
  border-radius: 8px;
}

.log-item {
  padding: 22px 28px;
  border-bottom: 1px solid #e1e1e1;
  text-align: start;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}

.log-item::last-child {
  border: none;
}

.log-item.log-rtl {
  text-align: right;
}

.log-item .log-message {
  direction: ltr;
  color: #363636;
  font-size: 16px;
  font-weight: 300;
}

.log-item .log-date {
  color: #7b7b7b;
  font-size: 14px;
  font-weight: 300;
}
.log-item .log-image {
  border-radius: 4px;
  overflow: hidden;
}
